{% include "partials/masterHead.njk" %}

<body>

	<main> 
	{% block main %}
		<article class="o-box o-centre">
			<h1>{{ title }}</h1>
			{{ content | safe }}
		</article>
	{% endblock %}
	</main>
</body>
</html>