{% include "partials/masterHead.njk" %}

<body>
  {#
	<header class="o-box c-header mb-2xl">
		{% include "partials/nav.njk" %}
	</header>
	#}

	<main> 
	{% block main %}
		<article class="o-box o-centre">
			<h1>{{ title }}</h1>
			{{ content | safe }}
		</article>
	{% endblock %}
	</main>
</body>
</html>