{% set currentUrl %}{{ page.url }}{% endset %}
<nav class="background-color:black">
  <ul class="o-box o-cluster o-centre c-nav-primary" role="list">
    <li>
      <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
    </li>

    {% for page in collections.pages %}
    <li>
      {% if currentUrl === page.url %}<strong>{% endif %}
      <a 
        {% if currentUrl === page.url %}aria-current="page"{% endif %} 
        href="{{ page.url }}"
      >
        {{ page.data.title }}
      </a>
      {% if currentUrl === page.url %}</strong>{% endif %}
    </li>
    {%- endfor %}
  </ul>
</nav>
