/* COLOURS
===========================================
===========================================*/

// Blue
.color\:blue-100              { color: var(--blue-100); }
.color\:blue-200              { color: var(--blue-200); }
.color\:blue-300              { color: var(--blue-300); }
.color\:blue-500              { color: var(--blue-500); }
.color\:blue-800              { color: var(--blue-800); }
.color\:blue-900              { color: var(--blue-900); }

.background-color\:blue-100   { background-color: var(--blue-100); }
.background-color\:blue-200   { background-color: var(--blue-200); }
.background-color\:blue-300   { background-color: var(--blue-300); }
.background-color\:blue-500   { background-color: var(--blue-500); }
.background-color\:blue-800   { background-color: var(--blue-800); }
.background-color\:blue-900   { background-color: var(--blue-900); }



// Violet
.color\:violet-100            { color: var(--violet-100); }
.color\:violet-200            { color: var(--violet-200); }
.color\:violet-300            { color: var(--violet-300); }
.color\:violet-500            { color: var(--violet-500); }
.color\:violet-700            { color: var(--violet-700); }
.color\:violet-800            { color: var(--violet-800); }
.color\:violet-900            { color: var(--violet-900); }

.background-color\:violet-100 { background-color: var(--violet-100); }
.background-color\:violet-200 { background-color: var(--violet-200); }
.background-color\:violet-300 { background-color: var(--violet-300); }
.background-color\:violet-500 { background-color: var(--violet-500); }
.background-color\:violet-700 { background-color: var(--violet-700); }
.background-color\:violet-800 { background-color: var(--violet-800); }
.background-color\:violet-900 { background-color: var(--violet-900); }


// Purple
.color\:purple-100            { color: var(--purple-100); }
.color\:purple-200            { color: var(--purple-200); }
.color\:purple-300            { color: var(--purple-300); }
.color\:purple-500            { color: var(--purple-500); }
.color\:purple-700            { color: var(--purple-700); }
.color\:purple-800            { color: var(--purple-800); }
.color\:purple-900            { color: var(--purple-900); }

.background-color\:purple-100 { background-color: var(--purple-100); }
.background-color\:purple-200 { background-color: var(--purple-200); }
.background-color\:purple-300 { background-color: var(--purple-300); }
.background-color\:purple-500 { background-color: var(--purple-500); }
.background-color\:purple-700 { background-color: var(--purple-700); }
.background-color\:purple-800 { background-color: var(--purple-800); }
.background-color\:purple-900 { background-color: var(--purple-900); }



// Pink
.color\:pink-100            { color: var(--pink-100); }
.color\:pink-200            { color: var(--pink-200); }
.color\:pink-300            { color: var(--pink-300); }
.color\:pink-500            { color: var(--pink-500); }
.color\:pink-700            { color: var(--pink-700); }
.color\:pink-800            { color: var(--pink-800); }
.color\:pink-900            { color: var(--pink-900); }

.background-color\:pink-100 { background-color: var(--pink-100); }
.background-color\:pink-200 { background-color: var(--pink-200); }
.background-color\:pink-300 { background-color: var(--pink-300); }
.background-color\:pink-500 { background-color: var(--pink-500); }
.background-color\:pink-700 { background-color: var(--pink-700); }
.background-color\:pink-800 { background-color: var(--pink-800); }
.background-color\:pink-900 { background-color: var(--pink-900); }


// Aqua

.color\:aqua-100      { color: var(--aqua-100); }
.color\:aqua-200      { color: var(--aqua-200); }
.color\:aqua-300      { color: var(--aqua-300); }
.color\:aqua-500      { color: var(--aqua-500); }
.color\:aqua-700      { color: var(--aqua-700); }
.color\:aqua-800      { color: var(--aqua-800); }
.color\:aqua-900      { color: var(--aqua-900); }

.background-color\:aqua-100   { background-color: var(--aqua-100); }
.background-color\:aqua-200   { background-color: var(--aqua-200); }
.background-color\:aqua-300   { background-color: var(--aqua-300); }
.background-color\:aqua-500   { background-color: var(--aqua-500); }
.background-color\:aqua-700   { background-color: var(--aqua-700); }
.background-color\:aqua-800   { background-color: var(--aqua-800); }
.background-color\:aqua-900   { background-color: var(--aqua-900); }



// Gold
.color\:gold-100      { color: var(--gold-100); }
.color\:gold-200      { color: var(--gold-200); }
.color\:gold-300      { color: var(--gold-300); }
.color\:gold-500      { color: var(--gold-500); }
.color\:gold-700      { color: var(--gold-700); }
.color\:gold-800      { color: var(--gold-800); }
.color\:gold-900      { color: var(--gold-900); }

.background-color\:gold-100   { background-color: var(--gold-100); }
.background-color\:gold-200   { background-color: var(--gold-200); }
.background-color\:gold-300   { background-color: var(--gold-300); }
.background-color\:gold-500   { background-color: var(--gold-500); }
.background-color\:gold-700   { background-color: var(--gold-700); }
.background-color\:gold-800   { background-color: var(--gold-800); }
.background-color\:gold-900   { background-color: var(--gold-900); }




// Pear
.color\:pear-100      { color: var(--pear-100); }
.color\:pear-200      { color: var(--pear-200); }
.color\:pear-300      { color: var(--pear-300); }
.color\:pear-500      { color: var(--pear-500); }
.color\:pear-700      { color: var(--pear-700); }
.color\:pear-800      { color: var(--pear-800); }
.color\:pear-900      { color: var(--pear-900); }

.background-color\:pear-100   { background-color: var(--pear-100); }
.background-color\:pear-200   { background-color: var(--pear-200); }
.background-color\:pear-300   { background-color: var(--pear-300); }
.background-color\:pear-500   { background-color: var(--pear-500); }
.background-color\:pear-700   { background-color: var(--pear-700); }
.background-color\:pear-800   { background-color: var(--pear-800); }
.background-color\:pear-900   { background-color: var(--pear-900); }


// Greyscale
.color\:white                { color: var(--white); }
.background-color\:white     { background-color: var(--white); }

.color\:grey-100             { color: var(--grey-100); }
.color\:grey-200             { color: var(--grey-200); }
.color\:grey-300             { color: var(--grey-300); }
.color\:grey-500             { color: var(--grey-500); }
.color\:grey-700             { color: var(--grey-700); }
.color\:grey-800             { color: var(--grey-800); }
.color\:grey-900             { color: var(--grey-900); }

.background-color\:grey-100  { background-color: var(--grey-100); }
.background-color\:grey-200  { background-color: var(--grey-200); }
.background-color\:grey-300  { background-color: var(--grey-300); }
.background-color\:grey-500  { background-color: var(--grey-500); }
.background-color\:grey-700  { background-color: var(--grey-700); }
.background-color\:grey-800  { background-color: var(--grey-800); }
.background-color\:grey-900  { background-color: var(--grey-900); }

.color\:black               { color: var(--black); }
.background-color\:black    { background-color: var(--black); }



// Utility colours
.color\:positive           { color: var(--Positive); }
.color\:positive-light     { color: var(--PositiveLight); }
.color\:caution            { color: var(--Caution); }
.color\:caution-light      { color: var(--CautionLight); }
.color\:negative           { color: var(--Negative); }
.color\:negative-light     { color: var(--NegativeLight); }
.color\:neutral            { color: var(--Neutral); }
.color\:neutral-light      { color: var(--NeutralLight); }


.background-color\:positive        { background-color: var(--Positive); }
.background-color\:positive-light  { background-color: var(--PositiveLight); }
.background-color\:caution         { background-color: var(--Caution); }
.background-color\:caution-light   { background-color: var(--CautionLight); }
.background-color\:negative        { background-color: var(--Negative); }
.background-color\:negative-light  { background-color: var(--NegativeLight); }
.background-color\:neutral         { background-color: var(--Neutral); }
.background-color\:neutral-light   { background-color: var(--NeutralLight); }

