/* COLOURS
===========================================
===========================================*/

/* Greyscale */
.color\:white                { color: var(--white); }
.background-color\:white     { background-color: var(--white); }

.color\:grey-96            { color: var(--grey-96); }
.color\:grey-90            { color: var(--grey-90); }
.color\:grey-70            { color: var(--grey-70); }
.color\:grey-50            { color: var(--grey-50); }
.color\:grey-30            { color: var(--grey-30); }

.background-color\:grey-96 { background-color: var(--grey-96); }
.background-color\:grey-90 { background-color: var(--grey-90); }
.background-color\:grey-70 { background-color: var(--grey-70); }
.background-color\:grey-50 { background-color: var(--grey-50); }
.background-color\:grey-30 { background-color: var(--grey-30); }

.color\:black               { color: var(--black); }
.background-color\:black    { background-color: var(--black); }



/* Utility colours */
/*
.color\:positive        { color: var(--Positive); }
.color\:positive-light  { color: var(--PositiveLight); }
.color\:caution         { color: var(--Caution); }
.color\:caution-light   { color: var(--CautionLight); }
.color\:negative        { color: var(--Negative); }
.color\:negative-light  { color: var(--NegativeLight); }
.color\:neutral         { color: var(--Neutral); }
.color\:neutral-light   { color: var(--NeutralLight); }


.background-color\:positive       { background-color: var(--Positive); }
.background-color\:positive-light { background-color: var(--PositiveLight); }
.background-color\:caution        { background-color: var(--Caution); }
.background-color\:caution-light  { background-color: var(--CautionLight); }
.background-color\:negative       { background-color: var(--Negative); }
.background-color\:negative-light { background-color: var(--NegativeLight); }
.background-color\:neutral        { background-color: var(--Neutral); }
.background-color\:neutral-light  { background-color: var(--NeutralLight); }
*/

