/* CLUSTER
===========================================
===========================================*/

.o-cluster {
  --space: 1.5rem;
  overflow: hidden;
}

  .o-cluster > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: calc(var(--space) / 2 * -1);
  }

    .o-cluster > * > * {
      margin: calc(var(--space) / 2);
    }