/* INPUTS
===========================================
Displays two items in a div at at either 
end (one on the left, one on the right).
===========================================*/


.o-flex {
  display: flex;
  justify-content: space-between; // Spaces the items evenly in the available space.
}

  .o-flex > * {
    align-self: center; // Centres the items vertically
  }
