/* LINKS
===========================================
===========================================*/

a {
  color: blue;
  text-decoration: none;
  text-decoration-skip: ink;
}

  a:visited {
    color: blue;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  a:focus {
  }

  a:active {
  }
